.digi-card {
    display: flex;
    justify-content: center;
    height: 242px;
    position: relative;
  
    &.details {
      height: 400px;
    }
  
    .name {
      position: absolute;
      font-family: "Gotham-Medium";
      font-size: 16px;
      font-weight: bold;
      top: 10px;
      color: #7479f7;
    }
  
    .full-width {
      width: 100%;
    }
  
    .description {
      font-family: "Gotham-Black-Italic";
      color: #808080;
      font-size: 11px;
    }
  
    .amount {
      font-family: "Gotham-Medium";
      color: #7479f7;
      font-size: 14px;
      padding-bottom: 15px;
    }
  
    .icon-eth {
      background-image: url("/assets/images/icons/eth.svg");
      background-repeat: no-repeat;
      background-size: contain;
      background-position: center;
      background-color: transparent;
      display: inline-flex;
      width: 10px;
      height: 10px;
    }
  
    .creator {
      position: absolute;
      display: flex;
      bottom: 5px;
      left: 15px;
      font-family: "Gotham-Medium";
      color: #2af6ff;
      font-size: 12px;
    }
  
    .icon-creator {
      background-image: url("/assets/images/icons/creator.svg");
      background-repeat: no-repeat;
      background-size: contain;
      background-position: center;
      background-color: transparent;
      display: inline-flex;
      width: 15px;
      height: 15px;
      margin-right: 5px;
    }
  }
  
  .front {
    &.shadow-card {
      box-shadow: 0px 0px 10px 5px #2af6ff94;
      border-radius: 10px;
    }
  }
  
  .front,
  .back {
    display: flex;
    background-position: center;
    background-size: cover;
    text-align: center;
    justify-content: center;
    align-items: center;
    position: absolute;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    transform-style: preserve-3d;
    transition: ease-in-out 900ms;
  }
  
  .back .button:before {
    box-shadow: 0 0 7px 7px rgba(26, 87, 230, 0.25);
    background-color: rgba(26, 87, 230, 0.25);
  }
  
  .digi-card.rotate:hover .front {
    transform: rotateY(180deg);
  }
  
  .back {
    transform: rotateY(-180deg);
    width: 100%;
    padding: 0 12px;
    background-color: white;
    border-radius: 15px;
  }
  
  .back .button {
    background-color: #7479f7;
  }
  
  .digi-card.rotate:hover .back {
    transform: rotateY(0deg);
  }
  
  .button {
    transform: translateZ(30px);
    cursor: pointer;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    font-weight: bold;
    color: #fff;
    padding: 5px 15px;
    border-radius: 25px;
    font-size: 12px;
    font-family: "Gotham-Bold";
    border: none;
    transform-style: preserve-3d;
    transition: 200ms ease;
  }
  
  .button:before {
    transition: 200ms ease;
    position: absolute;
    display: block;
    content: "";
    transform: translateZ(-5px);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    height: calc(100% - 20px);
    width: calc(100% - 20px);
    border-radius: 25px;
    top: 15px;
  }
  
  .button:hover {
    transform: translateZ(5px);
  }
  
  .button:hover:before {
    transform: translateZ(-5px);
  }
  
  .button:active {
    transform: translateZ(5px);
  }
  
  .button:active:before {
    transform: translateZ(-5px);
    top: 12px;
  }
  
  *:focus {
    outline: none;
  }
  
  /* Extra small devices (phones, 600px and down) */
  @media only screen and (max-width: 600px) {
    .digi-card {
      &.details {
        height: 300px;
      }
    }
  }
  
  /* Small devices (portrait tablets and large phones, 600px and up) */
  @media only screen and (min-width: 600px) {
    .digi-card {
      &.details {
        height: 300px;
      }
    }
  }
  
  /* Medium devices (landscape tablets, 768px and up) */
  @media only screen and (min-width: 768px) {
    .digi-card {
      &.details {
        height: 300px;
      }
    }
  }
  
  /* Large devices (laptops/desktops, 992px and up) */
  @media only screen and (min-width: 992px) {
    .digi-card {
      &.details {
        height: 400px;
      }
    }
  }
  
  /* Extra large devices (large laptops and desktops, 1200px and up) */
  @media only screen and (min-width: 1200px) {
  }
  