<div class="container page-top">
  <div class="row c-page-title">
    <div class="col-12 p-t-10 p-b-6">
      <div class="section-title">
        <span class="icon user"></span>
        <span>Digi Duel</span>
      </div>
    </div>
    <div class="solid mt-4"></div>
  </div>

  <div class="row justify-center p-b-20">
    <div class="col-xl-6 col-lg-6 col-md-10 col-sm-12" >
      <span class="c-about__description">
        DigiDuel is where users can battle any desired NFT they hold in
        their wallets. Simply place your NFT & $DIGI tokens as a bet, and
        select a color of your choice. <br /><br />
        Once the the winning color is revealed, the winner will receive
        the losers NFT+ the amount of $DIGI that was placed as a bet.
        <br /><br />
        A 1% fee from the total bets will be taken. 0.7% will go towards
        the staking pool and 0.3% is burned.
      </span>
    </div>
  </div>
</div>
