<section class="home-section p-t-30">
  <div class="container-fluid grid">
    <div class="row">
      <div class="p-l-40 col-lg-12">
        <span class="title">
          The world's first
          <span class="marked-only"> NFT</span>
          marketplace
        </span>
      </div>
      <div class="p-l-40 col-lg-12">
        <span class="title"> that is backed by</span>
      </div>
      <div class="p-l-40 col-12 col-md-6 col-lg-6">
        <div class="row">
          <div class="col-lg-12">
            <span class="title marked"> physical rare</span>
          </div>
          <div class="col-lg-12">
            <span class="title marked"> collectible cards</span>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-6 col-lg-6 p-l-40 p-r-40">
        <div class="logo"></div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12 center p-t-50">
        <span class="subtitle">Ready to?</span>
      </div>
    </div>
    <div class="row justify-center p-b-40">
      <div class="col-8 col-md-4 col-lg-3 col-xl-2 center p-t-15">
        <a
          [routerLink]="['explorer']"
          class="btn btn-primary btn-menu just-center"
        >
          <div class="icon binoculars"></div>
          <div class="separator"></div>
          <span>Explore NFTs</span>
        </a>
      </div>
      <div class="col-8 col-md-4 col-lg-3 col-xl-2 center p-t-15">
        <a
          [routerLink]="['/info']"
          class="btn btn-primary btn-menu just-center"
        >
          <div class="icon box"></div>
          <div class="separator"></div>
          <span>More Info</span>
        </a>
      </div>
      <div class="col-8 col-md-4 col-lg-3 col-xl-2 center p-t-15">
        <a
          href="https://app.uniswap.org/#/swap?outputCurrency=0x3cbf23c081faa5419810ce0f6bc1ecb73006d848"
          target="_blank"
          class="btn btn-primary btn-menu just-center"
        >
          <div class="icon wallet"></div>
          <div class="separator"></div>
          <span>Buy $DIGI</span>
        </a>
      </div>
    </div>
  </div>
</section>
