//
// ================================
//  Home
// ================================
//
.c-home {
  position: relative;
  display: grid;
  height: 60vh;
  width: 100vw;
  background-color: #F3F6FA;
  // background-image: url("/assets/images/hero.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  margin-top: 70px;
  padding-bottom: 0;
  padding-left: 1rem;
  padding-right: 1rem;

  :host-context(.dark-mode) & {
    background-size: cover;
    // background-image: url("/assets/images/home/home-1.jpeg");
    background-color: rgba(#213458, 0.15);
  }

  @media (min-width: 1024px) {
    height: 80vh;
    padding-top: 190px;
    padding-bottom: initial;
    padding-left: initial;
    padding-right: initial;
    margin-top: 0;
  }
}

.c-home__title-span {
  color: #213458;

  :host-context(.dark-mode) & {
   color: white;
  }
}

.c-home__overlay {
  z-index: 10;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  //background-color: rgba(#384969, 65%);

  :host-context(.dark-mode) & {
    background-color: rgba(#213458, 0.65);
  }
}

.c-home__container {
  z-index: 15;
  flex-direction: column;
  justify-content: center;
}

.c-home__title {
  font-weight: bold;
  max-width: 680px;
  margin-bottom: 2rem;
  margin-left: auto;
  margin-right: auto;
  font-size: calc(1.55em + 2vw);
  padding-left: 1rem;
  padding-right: 1rem;

  @media only screen and (min-width: 1024px) {
    font-size: calc(1.5em + 2vw);
    max-width: 960px;
    margin-bottom: 3rem;
  }
}

.c-home__button {
  width: auto;
  max-width: 200px;
  border: 1px solid white;
  padding-top: 0.7rem;
  font-weight: bold;
  font-size: 14px;
  @media only screen and (min-width: 1024px) {
    font-size: 16px;
    width: 100%;
  }
}
