.icon-eth {
  background-image: url("/assets/images/icons/eth.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  background-color: transparent;
  display: inline-flex;
  width: 17px;
  height: 17px;
}

.c-details {
  display: flex;
  flex-direction: column;
}

.c-details__back {
  background-color: transparent;
  border: none;
  transform: rotate(180deg);
}

.c-details__title {
  display: flex;
  font-size: 31px;
  color: #213458;
  font-weight: bold;
  text-transform: capitalize;
  margin-bottom: 1rem;

  .icon-creator {
    width: 15px;
    height: 15px;
    background-image: url("/assets/images/icons/creator.svg");
  }

  :host-context(.dark-mode) & {
    color: #ffffff;
  }
}

.c-details__buttons {
  display: flex;
  flex-direction: column;

  .btn {
    margin-bottom: 1rem;
    border: 1px solid #213458;
    width: 100%;

    :host-context(.dark-mode) & {
      border: 1px solid white;
    }
  }
}

.c-details__buttons-title {
  color: #213458;
  font-weight: bold;
  font-size: 18px;
  :host-context(.dark-mode) & {
    color: #ffffff;
  }
}

.c-details__list {
  list-style: none;
  padding-left: 0;
}

.c-details__price {
  display: flex;
  align-items: center;

  .icon {
    width: 1rem;
    width: 1rem;
  }
}