<div class="container-fluid p-b-40">
  <div class="row pur">
    <div class="col-9 p-t-10 p-b-6">
      <span class="section-title">PURCHASE $DIGI</span>
    </div>
    <div class="btn-purchase-block">
        <a href="#" class="btn-purchase">STAKE $DIGI </a>
        <span (click)="connectMatic()" class="btn-purchase">SWITCH TO MATIC </span>
    </div>
    <div class="solid"></div>
  </div>

  <div class="content-purchase">
    <div class="left-block-purchase">
      <div class="left-first-block">
        <div class="lfb">
          <img src="../../../assets/images/uniswap.png" class="swapLogo">
          <div class="btn-buy-uniswap">
            <a href="https://app.uniswap.org/#/swap?outputCurrency=0x3cbf23c081faa5419810ce0f6bc1ecb73006d848"
            target="_blank">Buy through Uniswap ▸</a>
          </div>
        </div>
        <div class="lfb">
          <img src="../../../assets/images/quickswap.png" class="swapLogo">
          <div class="btn-buy-quickswap">
            <a href="#">Buy through Quickswap ▸</a>
          </div>
        </div>
      </div>
      <div class="left-second-block lfb">
        <span class="credit-card-title">CREDIT CARD</span>
        <div class="credit-card-block">
          <div class="credit-card-circle-block">
            <div class="purple-circle"></div>
            <a href="#" class="btn-cr-car"><b>6,000</b> Sellers Bundle <b>▸</b></a>
            <span class="cr-cr-dsc">3 erc-20 digis, 3k matic $DIGI</span>
          </div>
          <div class="credit-card-circle-block">
            <div class="yellow-circle"></div>
            <a href="#" class="btn-cr-car"><b>3,000</b> Sellers Bundle <b>▸</b></a>
            <span class="cr-cr-dsc">choice erc-20 or matic</span>
          </div>
          <div class="credit-card-circle-block">
            <div class="green-circle"></div>
            <a href="#" class="btn-cr-car">Custom Amount <b>▸</b></a>
            <span class="cr-cr-dsc" style="visibility: hidden;">choice</span>
          </div>
        </div>
        <div class="cr-cr-lower-block">
          <div></div>
          <div class="low-desc-bl">
            <div class="imp-txt">Important</div>
            <div>Only holders of 3,000 or more can list items for fixed price sale on ERC-20 and 3,000 matic $DIGIs for auction</div>
          </div>
          <div></div>
        </div>

      </div>
    </div>
    <div class="right-block-purchase lfb">
      <div class="right-block-title">
        LOREM IPSUM RANKINGS
      </div>
      <div class="rankings-content-block">
        <div class="ranking-left-block">
          <div class="ranking-block-top-number">1</div>
          <div class="ranking-block-top-img"><img src="../../../assets/images/ava.jpg"></div>
          <div class="ranking-block-top-name">@polygonyogurt</div>
          <div class="ranking-block-top-address">0x828B...7185D564</div>
          <div class="ranking-block-top-balance">7641 $DIGI</div>
          <div class="ranking-block-top-network"><img src="../../../assets/images/matic.png"></div>
        </div>
        <div class="ranking-right-block">
          <div class="button-collection-ranking">Collection ▸</div>
        </div>
      </div>
    </div>
  </div>
</div>
