
<div class="container page-top">
  <div class="row">
    <div class="col-12 p-t-10 p-b-6">
      <span class="section-title"
        ><span class="icon box"></span>Create Card</span
      >
    </div>
    <div class="solid mt-4 mb-4"></div>
  </div>

  <div class="row justify-center" *ngIf="showSwitchToEth">
    <div class="col-lg-12 text-center mt-4">
      <p>
        This section of the dApp only works if you connect your wallet to the
        Ethereum Network.
      </p>
    </div>
    <div class="mx-auto text-center mt-2">
      <button class="btn btn-primary btn-menu" (click)="switchToEth()">
        <span class="btn-title">Switch to Ethereum</span>
      </button>
    </div>
  </div>

  <div *ngIf="!showSwitchToEth">
    <div class="row" *ngIf="loading">
      <div class="col-lg-12">
        <div class="mx-auto text-center mt-4 text-white">
          <app-loading-blockchain></app-loading-blockchain>
        </div>
      </div>
    </div>
  </div>

  <div *ngIf="!showSwitchToEth">
    <div class="row justify-center p-t-20" *ngIf="!loading">
      <div class="col-lg-5">
        <div class="mx-auto text-center mt-4 text-white">
          <ngx-file-drop
            accept=".png,.jpg,.gif,.jpeg,.mp4"
            multiple="false"
            dropZoneLabel="Drop files here"
            (onFileDrop)="droppedFrontSide($event)"
          >
            <ng-template
              ngx-file-drop-content-tmp
              let-openFileSelector="openFileSelector"
            >
              <div class="row">
                <div class="col-lg-12">Drop image of the front of the card here!</div>
                <div class="col-lg-12 p-t-10">
                  <button
                    type="button"
                    class="btn btn-primary"
                    (click)="openFileSelector()"
                  >
                    Browse Files
                  </button>
                </div>
              </div>
            </ng-template>
          </ngx-file-drop>
        </div>
      </div>
      <div class="col-lg-5">
        <div class="mx-auto text-center mt-4 text-white">
          <ngx-file-drop
            accept=".png,.jpg,.gif,.jpeg,.mp4"
            multiple="false"
            dropZoneLabel="Drop files here"
            (onFileDrop)="droppedBackSide($event)"
          >
            <ng-template
              ngx-file-drop-content-tmp
              let-openFileSelector="openFileSelector"
            >
              <div class="row">
                <div class="col-lg-12">Drop image of the card back here!</div>
                <div class="col-lg-12 p-t-10">
                  <button
                    type="button"
                    class="btn btn-primary"
                    (click)="openFileSelector()"
                  >
                    Browse Files
                  </button>
                </div>
              </div>
            </ng-template>
          </ngx-file-drop>
        </div>
      </div>
    </div>
    <div class="row justify-center p-b-40 mt-4" *ngIf="!loading">
      <div class="col-lg-6 text-center">
        <div class="card-sides" *ngIf="ipfsHash">
          <h2>Front side</h2>
          <button type="button" class="close card-image-remove" aria-label="Close" (click)="removeFrontSideImage()" title="Remove front side of the card">
            <span aria-hidden="true">&times;</span>
          </button>
          <img [src]="ipfsUri" class="card-preview" *ngIf="!isVideo"  alt=""/><br />
          <div class="video-preview" *ngIf="isVideo">
            <video class="video-background" autoplay [muted]="'muted'" loop controls [src]="ipfsUri"></video>
          </div>
        </div>
      </div>
      <div class="col-lg-6 text-center">
        <div class="card-sides" *ngIf="ipfsHashBack">
          <h2>Flip side</h2>
          <button type="button" class="close card-image-remove" aria-label="Close" (click)="removeBackSideImage()" title="Remove back side of the card">
            <span aria-hidden="true">&times;</span>
          </button>
          <img [src]="ipfsUriBack" class="card-preview" *ngIf="!isVideoBack"  alt=""/><br />
          <div class="video-preview" *ngIf="isVideoBack">
            <video class="video-background" autoplay [muted]="'muted'" loop controls [src]="ipfsUriBack"></video>
          </div>
        </div>
      </div>
      <div class="col-xl-6 col-lg-6 col-md-8 col-sm-12" *ngIf="ipfsHash">
        <div class="mx-auto text-center">
          <div class="user">
            <div class="form-group p-t-20">
              <input type="checkbox" [(ngModel)]="physical" />
              Is physically backed?
            </div>

            <div class="form-group p-t-10">
              <input
                type="text"
                class="form-control form-control-user"
                placeholder="Name"
                [(ngModel)]="cardName"
              />
            </div>

            <div class="form-group p-t-10">
              <input
                type="text"
                class="form-control form-control-user"
                placeholder="Receiver Wallet"
                [(ngModel)]="walletReceiver"
              />
            </div>
          </div>

          <button class="button full-width p-t-10"
            [disabled]="!ipfsHash"
          >
            <span (click)="create()">Create</span>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
